@model IEnumerable<KT_VanCongKhai_1911065253.Models.HocPhan>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dang ky HP</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTinChi)
        </td>
        <td>
            <button>Dang Ky</button>
        </td>
    </tr>
}

</table>
